<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[):]</key>
	<string>ee_1.png</string>
	<key>[:D]</key>
	<string>ee_2.png</string>
	<key>[;)]</key>
	<string>ee_3.png</string>
	<key>[:-o]</key>
	<string>ee_4.png</string>
	<key>[:p]</key>
	<string>ee_5.png</string>
	<key>[(H)]</key>
	<string>ee_6.png</string>
	<key>[:@]</key>
	<string>ee_7.png</string>
	<key>[:s]</key>
	<string>ee_8.png</string>
	<key>[:$]</key>
	<string>ee_9.png</string>
	<key>[:(]</key>
	<string>ee_10.png</string>
	<key>[:&apos;(]</key>
	<string>ee_11.png</string>
	<key>[:|]</key>
	<string>ee_12.png</string>
	<key>[(a)]</key>
	<string>ee_13.png</string>
	<key>[8o|]</key>
	<string>ee_14.png</string>
	<key>[8-|]</key>
	<string>ee_15.png</string>
	<key>[+o(]</key>
	<string>ee_16.png</string>
	<key>[&lt;o)]</key>
	<string>ee_17.png</string>
	<key>[|-)]</key>
	<string>ee_18.png</string>
	<key>[*-)]</key>
	<string>ee_19.png</string>
	<key>[:-#]</key>
	<string>ee_20.png</string>
	<key>[:-*]</key>
	<string>ee_21.png</string>
	<key>[^o)]</key>
	<string>ee_22.png</string>
	<key>[8-)]</key>
	<string>ee_23.png</string>
	<key>[(|)]</key>
	<string>ee_24.png</string>
	<key>[(u)]</key>
	<string>ee_25.png</string>
	<key>[(S)]</key>
	<string>ee_26.png</string>
	<key>[(*)]</key>
	<string>ee_27.png</string>
	<key>[(#)]</key>
	<string>ee_28.png</string>
	<key>[(R)]</key>
	<string>ee_29.png</string>
	<key>[({)]</key>
	<string>ee_30.png</string>
	<key>[(})]</key>
	<string>ee_31.png</string>
	<key>[(k)]</key>
	<string>ee_32.png</string>
	<key>[(F)]</key>
	<string>ee_33.png</string>
	<key>[(W)]</key>
	<string>ee_34.png</string>
	<key>[(35)]</key>
	<string>ee_35.png</string>
	<key>[(36)]</key>
	<string>ee_36.png</string>
	<key>[(37)]</key>
	<string>ee_37.png</string>
	<key>[(38)]</key>
	<string>ee_38.png</string>
	<key>[(39)]</key>
	<string>ee_39.png</string>
	<key>[(40)]</key>
	<string>ee_40.png</string>
	<key>[(41)]</key>
	<string>ee_41.png</string>
	<key>[(42)]</key>
	<string>ee_42.png</string>
	<key>[(43)]</key>
	<string>ee_43.png</string>
	<key>[(44)]</key>
	<string>ee_44.png</string>
	<key>[(45)]</key>
	<string>ee_45.png</string>
	<key>[(46)]</key>
	<string>ee_46.png</string>
	<key>[(47)]</key>
	<string>ee_47.png</string>
	<key>[(48)]</key>
	<string>ee_48.png</string>
	<key>[(49)]</key>
	<string>ee_49.png</string>
	<key>[(50)]</key>
	<string>ee_50.png</string>
	<key>[(51)]</key>
	<string>ee_51.png</string>
	<key>[(52)]</key>
	<string>ee_52.png</string>
	<key>[(53)]</key>
	<string>ee_53.png</string>
	<key>[(54)]</key>
	<string>ee_54.png</string>
	<key>[(55)]</key>
	<string>ee_55.png</string>
	<key>[(56)]</key>
	<string>ee_56.png</string>
	<key>[(57)]</key>
	<string>ee_57.png</string>
	<key>[(58)]</key>
	<string>ee_58.png</string>
	<key>[(59)]</key>
	<string>ee_59.png</string>
	<key>[(60)]</key>
	<string>ee_60.png</string>
	<key>[(61)]</key>
	<string>ee_61.png</string>
	<key>[(62)]</key>
	<string>ee_62.png</string>
	<key>[(63)]</key>
	<string>ee_63.png</string>
	<key>[(64)]</key>
	<string>ee_64.png</string>
	<key>[(65)]</key>
	<string>ee_65.png</string>
	<key>[(66)]</key>
	<string>ee_66.png</string>
	<key>[(67)]</key>
	<string>ee_67.png</string>
	<key>[(68)]</key>
	<string>ee_68.png</string>
	<key>[(69)]</key>
	<string>ee_69.png</string>
	<key>[(70)]</key>
	<string>ee_70.png</string>
	<key>[(71)]</key>
	<string>ee_71.png</string>
	<key>[(72)]</key>
	<string>ee_72.png</string>
	<key>[(73)]</key>
	<string>ee_73.png</string>
	<key>[(74)]</key>
	<string>ee_74.png</string>
	<key>[(75)]</key>
	<string>ee_75.png</string>
	<key>[(76)]</key>
	<string>ee_76.png</string>
	<key>[(77)]</key>
	<string>ee_77.png</string>
	<key>[(78)]</key>
	<string>ee_78.png</string>
	<key>[(79)]</key>
	<string>ee_79.png</string>
	<key>[(80)]</key>
	<string>ee_80.png</string>
	<key>[(81)]</key>
	<string>ee_81.png</string>
	<key>[(82)]</key>
	<string>ee_82.png</string>
	<key>[(83)]</key>
	<string>ee_83.png</string>
	<key>[(84)]</key>
	<string>ee_84.png</string>
</dict>
</plist>
